* 
{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-variant-numeric: tabular-nums ;
    box-sizing: border-box;
}

.container{
    width: 101vw;
    height: 101vh;
    background-color: black;
    background-position: center;
    background-size: cover;
}

.numbers{
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 85px 0;
    margin-left: 25px
}

.numbers div{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.numbers div p{
    display: inline-block;
    font-size: 60px;
}

.numbers div span{
    margin-right: 20px;
}