* 
{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    font-variant-numeric: tabular-nums ;
    box-sizing: border-box;
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

.container{
    width: 101vw;
    height: 101vh;
    background-color: black;
    background-position: center;
    background-size: cover;
}

.numbers{
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 85px 0;
}

.numbers div{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.numbers div p{
    display: inline-block;
    font-size: 60px;
}

.numbers div span{
    margin-right: 50px;
}